@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Work+Sans&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  background-color: #f7f7f7;
  font-family: 'Merriweather', sans-serif;
  line-height: 1.7;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f7f7f7;
  min-height: calc(100vh - 250px);
}

.commit-list {
  padding: 1rem;
  max-width: 700px;
  margin: auto;
}

.header {
  background-color: #000;
  color: white;
  height: 250px;
  left: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-inner {
  text-align: center;
}

.refresh-wrapper {
  justify-content: center;
}

.input {
  width: 95%;
  border: none;
  margin: 10px 0;
  font-size: 16px;
  padding: 0.5rem;
  height: 50px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 5px;
}

.input:focus {
  border: 1px solid #222;
}

.dynamic-text {
  text-align: center;
}

.refresh-btn {
  width: 150px;
  margin-right: 10px;
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.refresh-btn:hover {
  color: white;
  background-color: #222;
}

.error {
  color: red;
}

.commit-item {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
}

.commit-item + .commit-item {
  margin-top: 20px;
}

.commit-item .time-stamp  {
  margin: 0;
  margin-top: 20px;
}

.btn {
  width: 120px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  outline: none;
  border: 0;
  border-radius: 4px;
}

.btn:hover  {
  background-color: #222;
  color: #fff;
}

.refresh-countdown {
  margin: 0;
}



.btn-fetch-commits  {
  width: 120px;
  height: 50px;
}

@media screen and (max-width: 599px) {
  .btn-refresh {
    margin-top: 10px;
  }
}

@media screen and (min-width: 599px) {
  .refresh-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-refresh {
    margin-right: 10px;
  }
  
  .text-box-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input-wrapper  {
    width: 40%;
  }
  
}